---
Checks: >
        clang-analyzer-*,
        bugprone-*,
        -bugprone-easily-swappable-parameters,
        portability-*,
        readability-*,
        -readability-magic-numbers,
        -readability-identifier-length,
        -readability-function-cognitive-complexity,
        -modernize-*,
        -cppcoreguidelines-*,
        -performance-*,
        -hicpp-*

WarningsAsErrors: >
        clang-analyzer-*,
        bugprone-null-pointer-arithmetic,
        bugprone-use-after-move

HeaderFilterRegex: 'include/tr_datastructures/.*|src/.*'

AnalyzeTemporaryDtors: false

FormatStyle: none

CheckOptions:
        - key: readability-identifier-naming.FunctionCase
          value: lower_case

        - key: readability-identifier-naming.VariableCase
          value: lower_case

        - key: readability-identifier-naming.StructCase
          value: lower_case

        - key: readability-identifier-naming.EnumCase
          value: lower_case

        - key: readability-identifier-naming.MacroDefinitionCase
          value: UPPER_CASE

        - key: readability-identifier-naming.TypedefCase
          value: lower_case

        - key: readability-identifier-naming.TypedefSuffix
          value: _t

        - key: readability-identifier-naming.ParameterCase
          value: lower_case